################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureAdB2c/AzureAdB2c/AzureAdB2c/obj/Debug
