################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureAdB2c/AzureAdB2c/AzureAdB2c/obj/Debug
/AzureAdB2c/.vs/AzureAdB2c/v14/.suo
/AzureAdB2c/AzureAdB2c/AzureAdB2c.Droid/obj/Debug
/AzureAdB2c/AzureAdB2c/AzureAdB2c.iOS/obj/iPhone/Debug
/AzureAdB2c/AzureAdB2c/AzureAdB2c.UWP/obj/x86/Debug
/AzureAdB2c/packages
